h1 {
    background-color: #4aaaa5;
    color:white;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    text-align: center
}
h2{
    color:#4aaaa5;   
}
#link{
    color:#777777;
    text-align: left
}
#box {
	height: 150px;
}
/* Style the header */
header {
    background-color:  #ffffff;
    padding: 10px;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    border-bottom-style: solid;
    border-bottom-color:#cccccc;
  }